.chat-text {
    height: 90%;
    width: 100%;
    overflow: scroll;
}
.chat-bar {
    border-top: 1px solid #dedede;
    height: 10%;
    width: 100%;
}

.chat-line .username {
    font-weight: bold;
    float:left;
}

.chat-line .timestamp {
    font-weight: bold;
    float:left;
}

.chat-line .message {
    float:left;
}

.chat-line div {
    margin-left: 10px;
}

#messages {
    float: left;
    height: 100%;
}

#userlist {
    float:right;
    height: 100%;
    border-left: 1px solid #dedede;
}

.chat-input {
    width: 90%;
}

.send {
    width: 10%;
}

.colorpicker {
    z-index: 1500;
}