html,body {
    height: 100%;
}

.user-icon {
    float: left;
}

.user-text {
    float:left;
    margin: 0 10px 0 10px;
}

.user-timestamp {
    float:right;
}

.chat-text {
    height: 90%;
    width: 100%;
    overflow: scroll;
}
.chat-bar {
    border-top: 1px solid #dedede;
    height: 10%;
}

.chat-line {
    padding: 5px 10px 5px 10px;
    border-top: 1px solid #dedede;
}

.chat-line .username {
    font-weight: bold;
    float:left;
}

.chat-line .timestamp {
    color: rgb(112, 112, 112)
}

.chat-line .message {
}

#chat-input {
    width: 90%;
    float: left;
}

#send-chat-button {
    width: 10%;
    float: left;
    text-align: center;
}

#messages {
    float: left;
    height: 100%;
    width: 80%;
}

#userlist {
    float:right;
    height: 100%;
    border-left: 1px solid #dedede;
    width: 20%;
}

.colorpicker {
    z-index: 1500;
}

.user-icon {
    height: 50px;
    width: 50px;
}

.user-icon img {
    height: 100%;
    width: 100%;
}